body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

#root {
  height: 90%;
  width: 90%;
  margin: 3rem auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container {
  padding-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
}
